$bg-color: #2b1165;
$fg-color: #f54171;
$bg-color-off: #2c116580;
$hover-btn-color: #2c116579;
$click-btn-color: #271d3e79;

//$cursor-pointer: url("../../assets/vaporwaveCursor.png");
@font-face {
    font-family: "VCR OSD Mono";
    src: url(../../assets/fonts/vcr_osd_mono/VCR_OSD_MONO_1.001.ttf);
}

$bg-gradient: linear-gradient(
 180deg,
 $bg-color 0%,
 rgba(26, 58, 130, 1) 37%,
 rgba(171, 36, 177, 1) 69%,
 $fg-color 100%
);
$fg-gradient: linear-gradient(
 0deg,
 $bg-color 0%,
 rgba(26, 58, 130, 1) 37%,
 rgba(171, 36, 177, 1) 69%,
 $fg-color 100%
);

$bg-gradient-off: linear-gradient(
 180deg,
 $bg-color 0%,
 rgba(26, 58, 130, 0.5) 37%,
 rgba(171, 36, 177, 0.5) 69%,
 $fg-color 100%
);
$fg-gradient-off: linear-gradient(
 0deg,
 $bg-color 0%,
 rgba(26, 57, 130, 0.5) 37%,
 rgba(171, 36, 177, 0.5) 69%,
 $fg-color 100%
);


.Clear {
    grid-area: Clear;
}

.plusSlashminus {
    grid-area: plusSlashminus;
}

.divide {
    grid-area: divide;
}

.seven {
    grid-area: seven;
}
.eigth {
    grid-area: eight;
}
.nine {
    grid-area: nine;
}

.multiplication {
    grid-area: multiplication;
}

.four {
    grid-area: four;
}
.five {
    grid-area: five;
}
.six {
    grid-area: six;
}

.substraction {
    grid-area: substraction;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.sum {
    grid-area: sum;
}

.zero {
    grid-area: zero;
}

.dot {
    grid-area: dot;
}

.equals {
    grid-area: equals;
}

.key {
    position: relative;
    margin: 0 auto;
    //color: black;
    width: 100%;
    //background-color: black;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    animation: turningon 8s;
    animation-fill-mode: forwards;

    p {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        font-size: 30px;
    }
    transition: 0.18s;
    //pointer-events: all;
    cursor: pointer;
}

.key:hover {
    background-color: $hover-btn-color;
}

.key:active {
    background-color: $click-btn-color;
}

@keyframes turningon {
    5% {
        opacity: 0.8;
    }

    15% {
        opacity: 0.2;
    }

    20% {
        opacity: 0;
    }

    40% {
        opacity: 0.4;
    }

    50% {
        opacity: 0;
    }

    60% {
        opacity: 0.5;
    }

    70% {
        opacity: 0.1;
    }

    80% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
        pointer-events: all;
    }
}

.CalculatorBody {
    position: relative;
    width: 400px;
    height: 550px;
    display: block;
    align-items: center;
    top: 10%;
    margin: 0 auto;
    //background-color: transparent;
    background-color: $bg-color;
    background: $bg-gradient;
    overflow: hidden;
    border: 5px solid rgba(22, 182, 212, 0.3);
    animation: flicker 8s;
    animation-fill-mode: forwards;

    .startupImg {
        position: absolute;
        width: 45%;
        top: 30%;
        left: 27%;
        opacity: 20%;
        animation: fadeout 1s;
        animation-delay: 7.5s;
        animation-fill-mode: forwards;
        z-index: 3;
    }

    .calculatorLayout {
        position: relative;
        display: grid;
        //background-color: blue;
        width: 100%;
        height: 90%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "Clear Clear plusSlashminus divide"
            "seven eight nine multiplication"
            "four five six substraction"
            "one two three sum"
            "zero zero dot equals";
    }

    .calculatorScreen {
        position: relative;
        display: block;
        //background-color: pink;
        width: 100%;
        height: 12.5%;

        .inputtedText {
            position: absolute;
            width: 100%;
            height: 100%;
            padding-top: 2.5%;
            padding-left: 12.5%;
            margin: 0 auto;
            font-family: "VCR OSD Mono";
            font-size: 55px;
            text-align: center;
            //background-color: black;
            opacity: 85%;
        }
    }
}


.stripe {
    width: 100%;
    height: 10px;
    border-radius: 15%;
    filter: drop-shadow(0 0 20px rgba(190, 13, 107, 0.655));
    overflow:hidden;
    position:absolute;
    background-color: #2c116510;
    animation: scanline 8s linear infinite;
    animation-delay: 8s;
    z-index: 3;
    pointer-events: none;
}
/*
@keyframes scanline {
    from {
        transform: translateY(600px);
    }
}*/

.overlayAesthethic {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-size: 5px 5px, 5px 5px;
    background-position:  -1px -1px, -1px -1px;
    background-image: linear-gradient(rgba(255,255,255,.05) 1px, transparent 1px),
                      linear-gradient(90deg, rgba(255,255,255,.05) 1px, transparent 1px);
    mix-blend-mode: difference;
    z-index: 3;
    pointer-events: none;
}

@keyframes fadeout {
    from {
        opacity: 20%;
    }
    to {
        opacity: 60%;
        transform:  scale(0.4) translateX(-375px) translateY(-510px);
        
        //translateY(-1070px)
    }
}

/*
@keyframes flicker {
    0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
      color: #1f0e28;
      text-shadow: none;
      box-shadow: none;
      border: 3px solid rgba(242, 0, 255, 0.3);
      background-color: $bg-color-off;
      background: $bg-gradient-off;
    }
    
    18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 100% {
      border: 3px solid rgba(242, 0, 255, 1);
      color: #ffc2fd;
    text-shadow: 0 0 10px #f205ae,
                 0 0 20px #f205ae,
                 0 0 40px #f205ae,
                 0 0 80px #f205ae,
                 0 0 160px #f205ae,
                 0 0 320px #f205ae,
                 0 0 640px #f205ae;
    box-shadow: inset 0 0 10px rgba(242, 0, 255, 0.5),
                inset 0 0 20px rgba(242, 0, 255, 0.5),
                0 0 10px rgba(242, 0, 255, 0.3),
                0 0 20px rgba(242, 0, 255, 0.3),
                0 0 40px rgba(242, 0, 255, 0.3),
                0 0 80px rgba(242, 0, 255, 0.3),
                0 0 160px rgba(242, 0, 255, 0.3),
                0 0 320px rgba(242, 0, 255, 0.3)
    }
}*/

